@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&family=Newsreader:wght@700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-heading: "Newsreader", serif;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-ink: #1b2333;
}
